asgiref==3.2.7
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
dj-database-url==0.5.0
Django==3.0.7
django-crispy-forms==1.9.1
django-filter==2.3.0
django-heroku==0.3.1
djangorestframework==3.11.0
gunicorn==20.0.4
html5lib==1.1
httpie==2.2.0
idna==2.10
mysqlclient==1.4.6
numpy==1.19.0
pandas==1.0.5
Pillow==7.1.2
psycopg2==2.8.5
Pygments==2.6.1
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.1
reportlab==3.5.44
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
webencodings==0.5.1
whitenoise==5.1.0
xhtml2pdf==0.2.4
