{% extends 'base.html' %}
{% load static %}


{% load crispy_forms_tags %}
{% block content %}

<div class="container py-5">
<div class="row" id="form-row-login">
  <div class="col-sm-6 offset-sm-3">
    <div class="card bg-dark">
      <div class="card-body">
        <h2 class="text-center">Set a new password</h2>
        {% if validlink %}
        <form action="" method="post" autocomplete="off">
          {% csrf_token %}
          {{form|crispy}}
          <input type="submit" value="Save" class="btn btn-success">
        </form>
        {% else %}
        <p class="text-warning">Invalid-token</p>
        <p>
          <a href="{% url 'password_reset' %}"> Request a new password token</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>


{% endblock content %}