{% extends 'base.html' %}
{% load static %}
{% block matchesactive %} active {% endblock matchesactive %}
{% block content %}

<div class="hero overlay" style="background-image: url('/static/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto text-center">
        <h1 class="text-white">Matches</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, molestias repudiandae pariatur.</p>
      </div>
    </div>
  </div>
</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">      
      <div class="d-flex team-vs">
        <span class="score">4-1</span>
        <div class="team-1 w-50">
          <div class="team-details w-100 text-center">
            <img src="{% static 'images/logo_1.png' %}" alt="Image" class="img-fluid">
            <h3>LA LEGA <span>(win)</span></h3>
            <ul class="list-unstyled">
              <li>Anja Landry (7)</li>
              <li>Eadie Salinas (12)</li>
              <li>Ashton Allen (10)</li>
              <li>Baxter Metcalfe (5)</li>
            </ul>
          </div>
        </div>
        <div class="team-2 w-50">
          <div class="team-details w-100 text-center">
            <img src="{% static 'images/logo_2.png' %}" alt="Image" class="img-fluid">
            <h3>JUVENDU <span>(loss)</span></h3>
            <ul class="list-unstyled">
              <li>Macauly Green (3)</li>
              <li>Arham Stark (8)</li>
              <li>Stephan Murillo (9)</li>
              <li>Ned Ritter (5)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="site-section bg-dark">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="widget-next-match">
          <div class="widget-title">
            <h3>Sunday, 20th December</h3>
          </div>
          <div class="widget-body mb-3">
            <div class="widget-vs">
              <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                <div class="team-1 text-center">
                  <img src="{% static 'images/country/qatar-flag-waving-xl.png' %}" alt="Image" height="140px;" width="300px;">
                  <h3>Qatar</h3>
                </div>
                <div>
                  <span class="vs"><span>VS</span></span>
                </div>
                <div class="team-2 text-center">
                  <img src="{% static 'images/country/pakistan-flag-waving-large.png' %}" alt="Image">
                  <h3 class="mt-4">Pakistan</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center widget-vs-contents mb-4">
            <h4>Group A</h4>
            <p class="mb-5">
              <span class="d-block">21 November 2022 - 09:30 (Local Time)</span>
              <span class="d-block">Al Thumama Stadium (Stadium name)</span>
              <strong class="text-primary">Doha (city name)</strong>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 title-section">
        <h2 class="heading">Upcoming Match</h2>
      </div>
     
      {% for match in matches %}
      <div class="col-lg-6 mb-4">
        <div class="bg-light p-4 rounded">
          <div class="widget-body">
              <div class="widget-vs">
                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                  <div class="team-1 text-center">
                    <img src="{{match.first_country_flag.url}}" alt="Image">
                    <h3>{{match.first_country}}</h3>
                  </div>
                  <div>
                    <span class="vs"><span>VS</span></span>
                  </div>
                  <div class="team-2 text-center">
                    <img src="{{match.second_country_flag.url}}" alt="Image">
                    <h3>{{match.second_country}}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center widget-vs-contents mb-4">
            <h4>{{match.group}}</h4>
            <p class="mb-5">
              <span class="d-block">{{match.match_date}} - {{match.local_time}}</span>
              <span class="d-block">{{match.stadium_city}}</span>
            </p>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
</div> <!-- .site-section -->

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">Videos</h2>
      </div>
      <div class="col-6 text-right">
        <div class="custom-nav">
        <a href="#" class="js-custom-prev-v2"><span class="icon-keyboard_arrow_left"></span></a>
        <span></span>
        <a href="#" class="js-custom-next-v2"><span class="icon-keyboard_arrow_right"></span></a>
        </div>
      </div>
    </div>


    <div class="owl-4-slider owl-carousel">
      <div class="item">
        <div class="video-media">
          <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
          <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
            <span class="icon mr-3">
              <span class="icon-play"></span>
            </span>
            <div class="caption">
              <h3 class="m-0">Dogba set for Juvendu return?</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="video-media">
          <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
          <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
            <span class="icon mr-3">
              <span class="icon-play"></span>
            </span>
            <div class="caption">
              <h3 class="m-0">Kai Nets Double To Secure Comfortable Away Win</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="video-media">
          <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid">
          <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
            <span class="icon mr-3">
              <span class="icon-play"></span>
            </span>
            <div class="caption">
              <h3 class="m-0">Romolu to stay at Real Nadrid?</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="video-media">
          <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
          <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
            <span class="icon mr-3">
              <span class="icon-play"></span>
            </span>
            <div class="caption">
              <h3 class="m-0">Dogba set for Juvendu return?</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="video-media">
          <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
          <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
            <span class="icon mr-3">
              <span class="icon-play"></span>
            </span>
            <div class="caption">
              <h3 class="m-0">Kai Nets Double To Secure Comfortable Away Win</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="video-media">
          <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid">
          <a href="https://vimeo.com/139714818" class="d-flex play-button align-items-center" data-fancybox>
            <span class="icon mr-3">
              <span class="icon-play"></span>
            </span>
            <div class="caption">
              <h3 class="m-0">Romolu to stay at Real Nadrid?</h3>
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="container site-section">
  <div class="row">
    <div class="col-6 title-section">
      <h2 class="heading">Our Blog</h2>
    </div>
  </div>
  <div class="row">
    {% for new in news|slice:"2" %}
    <div class="col-lg-6">
      <div class="custom-media d-flex">
        <div class="img mr-4">
          <img src="{{new.blog_image.url}}" alt="Image" class="img-fluid">
        </div>
        <div class="text">
          <h3 class="mb-4"><a href="{{new.get_absolute_url}}">{{new.title}}</a></h3>
          <span class="meta">{{new.posted_date}}</span>
          <hr class="bg-white">
          <p>{{new.description|truncatewords:20}}</p>
          <p><a href="{{new.get_absolute_url}}">Read more</a></p>
        </div>
      </div>
    </div>
        {% endfor %}
  </div>
</div>

{% endblock content %}