<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Soccer &mdash; Website by Blogsab</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    form .alert ul li{
      list-style: none !important;
    }

    form .alert ul {
      padding: 10px !important;
      margin: 10px !important;
    }

    * {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 24px 0;
  line-height: 2;
}

.wrapper {
  padding: 32px;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

  </style>
</head>
<body>
<header class="site-navbar py-4" role="banner">
      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="{% url 'home' %}">
              <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
          </div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative fixed-top text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="{% block homeactive %} {% endblock homeactive %}">
                  <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="{% block matchesactive %} {% endblock matchesactive %}">
                  <a href="{% url 'matches' %}" class="nav-link">Matches</a>
                </li>
                <li class="{% block playersactive %} {% endblock playersactive %}">
                  <a href="{% url 'teams' %}" class="nav-link">Teams</a>
                </li>
                {% endif %}
                <li class="{% block blogactive %} {% endblock blogactive %}">
                  <a href="{% url 'blog' %}" class="nav-link">Blog</a>
                </li>
                <li class="{% block contactactive %} {% endblock contactactive %}">
                  <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                </li>
              </ul>
            </nav>

            <!-- <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                class="icon-menu h3 text-white"></span></a> -->
          </div>
            {% if user.is_authenticated %}
            <div class="btn-group">
              <a href="#" class="btn btn-primary">{{ user.username }}</a>
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'delaccount' %}">Deactivate account</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </div>
            {% else %}
          <form class="form-inline my-2 my-lg-0">
            <a href="{% url 'login' %}" class="btn btn-outline-warning">Login</a>
            <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign Up</a>
          </form>
          {% endif %}
        </div>
      </div>

    </header>
<!-- <div class="site-wrap"> -->
    <!-- <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> -->


    


{% block content %} 

{% endblock content %}
<div class="cookie-container bg-primary text-white">
      <p>
        We use cookies in this website to give you the best experience on our
        site and show you relevant ads. To find out more, read our
        <a href="#" style="color: black;">privacy policy</a> and <a href="#">cookie policy</a>.
      </p>

      <button class="cookie-btn btn btn-info">
        Okay
      </button>
    </div>



    <footer class="footer-section" style="padding: 10px 0px;">
              <p class="text-center">
                <!-- Link back to Blogsab can't be removed-->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved |<i class="icon-heart"
                  aria-hidden="true"></i> by <a href="https://www.blogsab.com" target="_blank">Blogsab</a>
                <!-- Link back to Blogsab can't be removed.-->
              </p>
    </footer>



  <!-- </div> -->
  <!-- .site-wrap -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>


  <script src="{% static 'js/main.js' %}"></script>

</body>
<script>
  const cookieContainer = document.querySelector(".cookie-container");
const cookieButton = document.querySelector(".cookie-btn");

cookieButton.addEventListener("click", () => {
  cookieContainer.classList.remove("active");
  localStorage.setItem("cookieBannerDisplayed", "true");
});

setTimeout(() => {
  if (!localStorage.getItem("cookieBannerDisplayed")) {
    cookieContainer.classList.add("active");
  }
}, 2000);
</script>
</html>